[Desktop Entry]
Type=Application
Name=Magic Keyboard
Comment=On-screen keyboard for SteamOS Desktop Mode
Exec=/usr/bin/magickeyboard-ui
Icon=input-keyboard
Categories=Utility;Accessibility;
Terminal=false
StartupNotify=false
Keywords=keyboard;osk;input;
GenericName=On-Screen Keyboard
